/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'BebasNeue';
  src: url("../fonts/BebasNeue/bebasneue.eot");
  src: url("../fonts/BebasNeue/bebasneue.woff") format("woff");
  src: url("../fonts/BebasNeue/bebasneue.ttf") format("truetype");
}
@font-face {
  font-family: 'RobotoLight';
  src: url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.woff") format("woff");
}
@font-face {
  font-family: 'RobotoThin';
  src: url("../fonts/RobotoThin/RobotoThin.eot");
  src: url("../fonts/RobotoThin/RobotoThin.woff") format("woff");
  src: url("../fonts/RobotoThin/RobotoThin.ttf") format("truetype");
}
/* line 29, ../sass/style.scss */
.clear {
  clear: both;
}

/*---------------------------------------------------*/
/* line 33, ../sass/style.scss */
.box, .video {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1090px;
  overflow: hidden;
  z-index: -1;
  background: rgba(15, 102, 99, 0.5);
  color: white;
}

/* line 45, ../sass/style.scss */
.is_overlay {
  display: block;
  width: 100%;
  height: 110%;
}

/* line 50, ../sass/style.scss */
.is_overlay video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url("../img/fishies_original.png") no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

/* line 58, ../sass/style.scss */
#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 63, ../sass/style.scss */
.page {
  min-width: 320px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  font-family: 'BebasNeue';
}

/* line 70, ../sass/style.scss */
.header {
  position: relative;
  padding-top: 50%;
}

/* line 76, ../sass/style.scss */
.header-wrapp {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

/* line 85, ../sass/style.scss */
.top-menu .logo-name {
  text-transform: uppercase;
  position: absolute;
  top: 5%;
  left: 10%;
  font-size: 38px;
  margin: 0;
  font-family: 'BebasNeue';
  color: white;
  letter-spacing: -0.2px;
}
/* line 95, ../sass/style.scss */
.top-menu .logo-name span {
  color: #ED1C24;
}
/* line 99, ../sass/style.scss */
.top-menu .hiden-list-button {
  float: right;
  margin-top: 2.8%;
  margin-right: 4.8%;
}
/* line 104, ../sass/style.scss */
.top-menu .hiden-list-button a img {
  width: 80%;
}
/* line 107, ../sass/style.scss */
.top-menu .hiden-list-button a:hover {
  opacity: 0.5;
}

/* line 113, ../sass/style.scss */
.logo {
  position: absolute;
  left: 3%;
  width: 6%;
  top: 3.7%;
}

/* line 119, ../sass/style.scss */
.item {
  margin-left: 11%;
}

/* line 124, ../sass/style.scss */
.header .vertical-pagination {
  position: absolute;
  bottom: 46.5%;
  left: 1.2%;
  width: 50px;
  display: none;
}
/* line 131, ../sass/style.scss */
.header .vertical-pagination a {
  border: 3px solid #fff;
  width: 36px;
  height: 36px;
  display: block;
  border-radius: 50%;
  margin: 0 auto;
  opacity: 0.5;
}
/* line 139, ../sass/style.scss */
.header .vertical-pagination a.active {
  opacity: 1;
}
/* line 142, ../sass/style.scss */
.header .vertical-pagination a:hover {
  opacity: 1;
}
/* line 146, ../sass/style.scss */
.header .vertical-pagination p {
  border: 1px solid #fff;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: white;
  margin: 7px auto;
}
/* line 155, ../sass/style.scss */
.header .slider-text {
  color: white;
  position: absolute;
  bottom: 22.5%;
  left: 0;
  font-family: 'BebasNeue';
}
/* line 161, ../sass/style.scss */
.header .slider-text h2 {
  font-size: 65px;
}
/* line 164, ../sass/style.scss */
.header .slider-text .big-text {
  font-size: 67px;
  line-height: 80px;
  margin-top: 6px;
  opacity: 0.7;
}
/* line 170, ../sass/style.scss */
.header .slider-text .litle-text {
  font-size: 27px;
  margin-top: 10px;
  margin-left: 14px;
  opacity: 0.7;
}
/* line 178, ../sass/style.scss */
.header .social-wrapp {
  position: absolute;
  right: 10px;
  top: 30%;
}
/* line 184, ../sass/style.scss */
.header ul li {
  margin-bottom: 20px;
}
/* line 187, ../sass/style.scss */
.header ul li a img {
  height: 25px;
  opacity: 1;
}
/* line 190, ../sass/style.scss */
.header ul li a img:hover {
  opacity: 0.5;
  cursor: pointer;
}
/* line 198, ../sass/style.scss */
.header .arrow-down {
  position: absolute;
  bottom: 6%;
  right: 48%;
}
/* line 202, ../sass/style.scss */
.header .arrow-down img {
  width: 45px;
}

/* line 207, ../sass/style.scss */
.midle-container {
  background-image: url(../img/content.jpg);
}
/* line 209, ../sass/style.scss */
.midle-container .top-block {
  text-align: center;
  background-color: #E6E6E6;
  padding-top: 2%;
  padding-bottom: 2%;
}
/* line 214, ../sass/style.scss */
.midle-container .top-block img {
  width: 222px;
}
/* line 217, ../sass/style.scss */
.midle-container .top-block h3 {
  margin-top: 23px;
  font-size: 50px;
  color: #333;
}
/* line 222, ../sass/style.scss */
.midle-container .top-block p {
  margin-top: 10px;
  font-size: 24px;
  line-height: 30px;
  color: #333;
  font-family: 'RobotoLight';
}
/* line 230, ../sass/style.scss */
.midle-container .left-first-block {
  float: left;
  position: relative;
  width: 22%;
}
/* line 234, ../sass/style.scss */
.midle-container .left-first-block img {
  width: 100%;
}
/* line 238, ../sass/style.scss */
.midle-container .midle-first-block {
  float: left;
  margin: 1% 1% 1% 4%;
  width: 48%;
  position: relative;
}
/* line 243, ../sass/style.scss */
.midle-container .midle-first-block img {
  width: 100%;
  -webkit-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
  box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
}
/* line 250, ../sass/style.scss */
.midle-container .right-first-block {
  -webkit-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
  box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
  float: right;
  position: relative;
  width: 23%;
  margin: 1% 1% 1% 1%;
  height: 500px;
}
/* line 259, ../sass/style.scss */
.midle-container .right-first-block img {
  width: 100%;
  position: absolute;
}
/* line 263, ../sass/style.scss */
.midle-container .right-first-block p {
  position: relative;
  margin-top: 87%;
  margin-left: 10%;
  margin-right: 5%;
  line-height: 20px;
  overflow: hidden;
  height: 100px;
}
/* line 273, ../sass/style.scss */
.midle-container .right-first-block .triangle img {
  position: relative;
}

/* line 278, ../sass/style.scss */
.triangle {
  position: absolute;
  bottom: 4%;
  left: 3%;
}
/* line 282, ../sass/style.scss */
.triangle img {
  box-shadow: none !important;
}
/* line 285, ../sass/style.scss */
.triangle:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* line 291, ../sass/style.scss */
.wrapp {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

/* line 300, ../sass/style.scss */
.under-midle-block .left-second-block {
  float: left;
  background-color: #0071BC;
  width: 19%;
  margin-left: 1%;
  margin-top: 0.5%;
  padding-top: 1%;
  height: 500px;
  position: relative;
  -webkit-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
  box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
}
/* line 313, ../sass/style.scss */
.under-midle-block .left-second-block .head-text {
  color: white;
  font-size: 25px;
  margin-left: 9px;
  margin-top: 5px;
}
/* line 319, ../sass/style.scss */
.under-midle-block .left-second-block .title {
  margin-top: 60px;
  font-size: 55px;
  margin-left: 10px;
  color: white;
}
/* line 325, ../sass/style.scss */
.under-midle-block .left-second-block .description-text {
  margin-left: 10px;
  margin-top: 7px;
  font-size: 26px;
  color: white;
}
/* line 332, ../sass/style.scss */
.under-midle-block .midle-second-block {
  float: left;
  width: 56%;
  margin-left: 3%;
  margin-top: -6%;
  position: relative;
}
/* line 338, ../sass/style.scss */
.under-midle-block .midle-second-block .big-img {
  width: 100%;
}
/* line 342, ../sass/style.scss */
.under-midle-block .right-second-block {
  float: right;
  position: relative;
  width: 19%;
  background-color: #00A99D;
  height: 510px;
  margin-right: 1%;
  margin-top: -6%;
}
/* line 350, ../sass/style.scss */
.under-midle-block .right-second-block .big-img {
  width: 100%;
}

/* line 357, ../sass/style.scss */
.over-footer-block .left-third-block {
  float: left;
  width: 21%;
  position: relative;
  background-color: #39B54A;
  height: 612px;
  margin-top: 1%;
  margin-left: 1%;
}
/* line 366, ../sass/style.scss */
.over-footer-block .midle-third-block {
  float: left;
  position: relative;
  width: 45%;
  margin-left: 2%;
  margin-top: -0.5%;
}
/* line 373, ../sass/style.scss */
.over-footer-block .midle-third-block .big-img {
  width: 100%;
  webkit-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
  box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
}
/* line 380, ../sass/style.scss */
.over-footer-block .right-third-block {
  float: right;
  width: 28%;
  position: relative;
  margin-top: -6%;
  margin-right: 1%;
}
/* line 386, ../sass/style.scss */
.over-footer-block .right-third-block .big-img {
  width: 100%;
}

/* line 392, ../sass/style.scss */
.fourth-block .left-fourth-block {
  float: left;
  width: 19%;
  margin-left: 1%;
  background-color: #662D91;
  height: 625px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
  box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
}
/* line 404, ../sass/style.scss */
.fourth-block .left-fourth-block .title {
  margin-top: 27%;
  margin-left: 27px;
  margin-right: 27px;
  font-size: 47px;
  color: white;
  text-transform: uppercase;
}
/* line 412, ../sass/style.scss */
.fourth-block .left-fourth-block .description-text {
  margin-top: 45px;
  margin-left: 27px;
  font-size: 45px;
  color: white;
  margin-right: 27px;
  line-height: 53px;
}
/* line 421, ../sass/style.scss */
.fourth-block .midle-fourth-block {
  width: 79%;
  position: relative;
  float: left;
  margin-left: 1%;
}
/* line 426, ../sass/style.scss */
.fourth-block .midle-fourth-block .big-img {
  width: 100%;
}

/* line 431, ../sass/style.scss */
.fifth-block {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 434, ../sass/style.scss */
.fifth-block .left-fifth-block {
  position: relative;
  float: left;
  width: 16%;
  margin-left: 1%;
}
/* line 439, ../sass/style.scss */
.fifth-block .left-fifth-block .brend-block {
  padding-top: 15%;
  background: white;
}
/* line 442, ../sass/style.scss */
.fifth-block .left-fifth-block .brend-block img {
  width: 100%;
  margin-bottom: 17px;
}
/* line 448, ../sass/style.scss */
.fifth-block .midle-fifth-block {
  float: left;
  width: 60%;
  margin-left: 1%;
  position: relative;
}
/* line 454, ../sass/style.scss */
.fifth-block .midle-fifth-block .big-img {
  width: 100%;
  -webkit-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
  box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
}
/* line 461, ../sass/style.scss */
.fifth-block .right-fifth-block {
  float: right;
  width: 20%;
  background: #0071BC;
  height: 646px;
  margin-right: 1%;
  position: relative;
  -webkit-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
  box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
}
/* line 472, ../sass/style.scss */
.fifth-block .right-fifth-block .head-text {
  margin-top: 7%;
  margin-left: 28px;
  margin-right: 28px;
  font-size: 24px;
  color: white;
}
/* line 479, ../sass/style.scss */
.fifth-block .right-fifth-block .title {
  margin-top: 16%;
  margin-left: 28px;
  margin-right: 28px;
  font-size: 56px;
  color: white;
}
/* line 486, ../sass/style.scss */
.fifth-block .right-fifth-block .description-text {
  margin-top: 1.5%;
  margin-left: 28px;
  margin-right: 28px;
  font-size: 26px;
  color: white;
}

/* line 495, ../sass/style.scss */
.developers-wrapp {
  padding: 1% 4% 4% 4%;
}
/* line 497, ../sass/style.scss */
.developers-wrapp .dev {
  float: left;
  width: 24%;
  margin-right: 1.333%;
  text-align: center;
  color: white;
  height: 630px;
  padding-top: 2%;
  overflow: hidden;
  position: relative;
}
/* line 507, ../sass/style.scss */
.developers-wrapp .dev .dev-ico-wrapp {
  height: 53%;
}
/* line 509, ../sass/style.scss */
.developers-wrapp .dev .dev-ico-wrapp .dev-ico {
  width: 80%;
  margin-top: 20px;
}
/* line 514, ../sass/style.scss */
.developers-wrapp .dev .name {
  font-size: 55px;
  padding: 10px 15px;
  text-align: left;
}
/* line 519, ../sass/style.scss */
.developers-wrapp .dev .description-text {
  font-size: 26px;
  padding: 0px 15px;
  text-align: left;
}
/* line 525, ../sass/style.scss */
.developers-wrapp .developers1 {
  background-color: #00A99D;
}
/* line 526, ../sass/style.scss */
.developers-wrapp .developers2 {
  background-color: #006B8C;
}
/* line 527, ../sass/style.scss */
.developers-wrapp .developers3 {
  background-color: #2E3192;
}
/* line 528, ../sass/style.scss */
.developers-wrapp .developers4 {
  background-color: #29ABE2;
  margin: 0;
}

/* line 532, ../sass/style.scss */
.footer {
  background: #333333 url("../img/footer.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding-bottom: 4%;
}
/* line 538, ../sass/style.scss */
.footer .left-elems {
  float: left;
  margin-top: 4%;
  margin-left: 7.5%;
  width: 22%;
}
/* line 544, ../sass/style.scss */
.footer .logo-img {
  width: 230px;
}
/* line 547, ../sass/style.scss */
.footer .logo-text {
  font-size: 46px;
  margin: 0;
  font-family: 'BebasNeue';
  color: white;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  margin-left: -6%;
  margin-top: 3%;
}
/* line 556, ../sass/style.scss */
.footer .logo-text span {
  color: #ED1C24;
}
/* line 560, ../sass/style.scss */
.footer .footer-text {
  padding-top: 7%;
  color: white;
  line-height: 47px;
  font-size: 25px;
}
/* line 565, ../sass/style.scss */
.footer .footer-text p:nth-child(1) {
  font-size: 30px;
}
/* line 569, ../sass/style.scss */
.footer .social-wrapp {
  position: absolute;
  bottom: 9%;
  right: 0;
}
/* line 573, ../sass/style.scss */
.footer .social-wrapp ul {
  padding-left: 0;
  margin-right: 25px;
}
/* line 576, ../sass/style.scss */
.footer .social-wrapp ul li {
  display: inline-block;
}
/* line 579, ../sass/style.scss */
.footer .social-wrapp ul li a img {
  height: 35px;
  margin-right: 20px;
}

@media (max-width: 1366px) {
  /* line 590, ../sass/style.scss */
  .header {
    padding-top: 57%;
  }
  /* line 593, ../sass/style.scss */
  .header .slider-text h2 {
    font-size: 35px;
  }
  /* line 596, ../sass/style.scss */
  .header .slider-text .big-text {
    font-size: 35px;
    line-height: 35px;
    opacity: 0.7;
  }
  /* line 601, ../sass/style.scss */
  .header .slider-text .litle-text {
    margin-left: 0;
    opacity: 0.7;
  }
  /* line 607, ../sass/style.scss */
  .header .social-wrapp ul li {
    margin-bottom: 10px;
  }
  /* line 612, ../sass/style.scss */
  .header .vertical-pagination a {
    width: 25px;
    height: 25px;
  }

  /* line 618, ../sass/style.scss */
  .midle-container .right-first-block {
    height: 360px;
  }

  /* line 621, ../sass/style.scss */
  .under-midle-block .left-second-block {
    height: 325px;
  }
  /* line 623, ../sass/style.scss */
  .under-midle-block .left-second-block .title {
    font-size: 35px;
  }
  /* line 626, ../sass/style.scss */
  .under-midle-block .left-second-block .description-text {
    font-size: 26px;
    line-height: 20px;
  }

  /* line 631, ../sass/style.scss */
  .under-midle-block .midle-second-block {
    margin-left: 2%;
    width: 57%;
  }

  /* line 635, ../sass/style.scss */
  .under-midle-block .right-second-block {
    height: 370px;
  }

  /* line 638, ../sass/style.scss */
  .over-footer-block .left-third-block {
    height: 480px;
  }

  /* line 641, ../sass/style.scss */
  .over-footer-block .right-third-block {
    margin-top: -3%;
    margin-bottom: -4px;
  }

  /* line 647, ../sass/style.scss */
  .fourth-block .left-fourth-block {
    height: 450px;
  }
  /* line 649, ../sass/style.scss */
  .fourth-block .left-fourth-block .title {
    font-size: 35px;
  }
  /* line 652, ../sass/style.scss */
  .fourth-block .left-fourth-block .description-text {
    font-size: 26px;
    margin-top: 15px;
    line-height: 20px;
  }

  /* line 660, ../sass/style.scss */
  .fifth-block .left-fifth-block .brend-block img {
    margin-bottom: 12px;
  }
  /* line 663, ../sass/style.scss */
  .fifth-block .right-fifth-block {
    height: 465px;
  }
  /* line 665, ../sass/style.scss */
  .fifth-block .right-fifth-block .title {
    font-size: 35px;
  }
  /* line 668, ../sass/style.scss */
  .fifth-block .right-fifth-block .description-text {
    font-size: 26px;
    margin-top: 15px;
    line-height: 20px;
  }

  /* line 676, ../sass/style.scss */
  .developers-wrapp .dev {
    height: 500px;
  }
  /* line 678, ../sass/style.scss */
  .developers-wrapp .dev .name {
    font-size: 25px;
  }
  /* line 681, ../sass/style.scss */
  .developers-wrapp .dev .dev-ico-wrapp {
    height: 278px;
  }
  /* line 684, ../sass/style.scss */
  .developers-wrapp .dev .description-text {
    font-size: 20px;
  }

  /* line 689, ../sass/style.scss */
  .footer .logo-img {
    width: 160px;
  }
  /* line 693, ../sass/style.scss */
  .footer .footer-text p {
    font-size: 18px;
    line-height: 23px;
  }
  /* line 697, ../sass/style.scss */
  .footer .footer-text p:nth-child(1) {
    font-size: 20px;
  }
  /* line 701, ../sass/style.scss */
  .footer .logo-text {
    font-size: 30px;
  }
  /* line 704, ../sass/style.scss */
  .footer .social-wrapp {
    bottom: 15px;
  }
  /* line 709, ../sass/style.scss */
  .footer .social-wrapp ul li a img {
    height: 25px;
    margin-right: 5px;
  }
}
@media (max-width: 1280px) {
  /* line 722, ../sass/style.scss */
  .midle-container .right-first-block {
    height: 350px;
  }
  /* line 724, ../sass/style.scss */
  .midle-container .right-first-block p {
    margin-top: 6%;
  }
  /* line 727, ../sass/style.scss */
  .midle-container .right-first-block .triangle {
    bottom: 11%;
  }

  /* line 732, ../sass/style.scss */
  .under-midle-block .midle-second-block {
    margin-top: -4.4%;
    width: 57%;
  }

  /* line 736, ../sass/style.scss */
  .fourth-block .left-fourth-block {
    height: 425px;
  }

  /* line 739, ../sass/style.scss */
  .over-footer-block .left-third-block {
    height: 440px;
  }

  /* line 742, ../sass/style.scss */
  .fifth-block {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  /* line 745, ../sass/style.scss */
  .fifth-block .left-fifth-block .brend-block img {
    margin-bottom: 11px;
  }
  /* line 748, ../sass/style.scss */
  .fifth-block .right-fifth-block {
    height: 435px;
  }
}
@media (max-width: 1100px) {
  /* line 756, ../sass/style.scss */
  .midle-container .right-first-block {
    height: 300px;
  }
}
@media (max-width: 1000px) {
  /* line 762, ../sass/style.scss */
  .midle-container .left-first-block,
  .fifth-block .left-fifth-block,
  .over-footer-block .right-third-block {
    display: none;
  }

  /* line 767, ../sass/style.scss */
  .midle-container .midle-first-block,
  .midle-container .right-first-block,
  .under-midle-block .left-second-block,
  .under-midle-block .midle-second-block,
  .under-midle-block .right-second-block,
  .over-footer-block .left-third-block,
  .over-footer-block .midle-third-block,
  .fourth-block .left-fourth-block,
  .fourth-block .midle-fourth-block,
  .fifth-block .midle-fifth-block,
  .fifth-block .right-fifth-block {
    float: none;
    width: 100%;
    margin: 20px 0;
  }

  /* line 783, ../sass/style.scss */
  .developers-wrapp .dev {
    width: 48%;
    margin-bottom: 20px;
  }
  /* line 786, ../sass/style.scss */
  .developers-wrapp .dev .dev-ico-wrapp .dev-ico {
    width: 54%;
  }

  /* line 790, ../sass/style.scss */
  .fourth-block .left-fourth-block .title {
    margin-top: 15px;
  }
}
