/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue/bebasneue.eot');
  src: url('../fonts/BebasNeue/bebasneue.woff') format('woff');
  src: url('../fonts/BebasNeue/bebasneue.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/RobotoLight/RobotoLight.ttf') format('truetype');
  src: url('../fonts/RobotoLight/RobotoLight.eot');
  src: url('../fonts/RobotoLight/RobotoLight.woff') format('woff');
}

@font-face {
  font-family: 'RobotoThin';
  src: url('../fonts/RobotoThin/RobotoThin.eot');
  src: url('../fonts/RobotoThin/RobotoThin.woff') format('woff');
  src: url('../fonts/RobotoThin/RobotoThin.ttf') format('truetype');
}

.clear{
  clear:both;
}
/*---------------------------------------------------*/
.box,.video  {
  position:absolute;
  top:0;
  left:0;
  display: block;
  width: 100%;
  height: 1090px;
  overflow: hidden;
  z-index:-1;
  background:rgba(15, 102, 99, 0.5);
  color:white;
}
.is_overlay{
  display: block;
  width: 100%;
  height: 110%;
}
.is_overlay video {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url("../img/fishies_original.png") no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
.page {
  min-width: 320px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  font-family: 'BebasNeue';
}
.header{
  position: relative;
  padding-top: 50%;

}

.header-wrapp{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}
.top-menu{
  .logo-name{
    text-transform: uppercase;
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 38px;
    margin: 0;
    font-family: 'BebasNeue';
    color: white;
    letter-spacing: -0.2px;
    span{
      color: #ED1C24;
    }
  }
  .hiden-list-button{
    float: right;
    margin-top: 2.8%;
    margin-right: 4.8%;
    a{
      img{
        width: 80%;
      }
      &:hover{
        opacity:0.5;
      }
    }
  }
}
.logo{
  position: absolute;
  left: 3%;
  width: 6%;
  top: 3.7%;
}
.item {
  margin-left: 11%;
}

.header{
  .vertical-pagination{
    position: absolute;
    bottom: 46.5%;
    left: 1.2%;
    width: 50px;
    display: none;

    a{
      border: 3px solid #fff;
      width: 36px;
      height: 36px;
      display: block;
      border-radius: 50%;
      margin: 0 auto;
      opacity: 0.5;
      &.active{
        opacity: 1;
      }
      &:hover{
        opacity: 1;
      }
    }
    p{
      border: 1px solid #fff;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      background-color: white;
      margin: 7px auto;
    }
  }
  .slider-text{
    color: white;
    position: absolute;
    bottom: 22.5%;
    left:0;
    font-family: 'BebasNeue';
    h2{
      font-size: 65px;
      }
    .big-text{
      font-size: 67px;
      line-height: 80px;
      margin-top: 6px;
      opacity:0.7;
    }
    .litle-text{
      font-size: 27px;
      margin-top: 10px;
      margin-left: 14px;
      opacity:0.7;
    }
  }

  .social-wrapp{
    position: absolute;
    right: 10px;
    top: 30%;
  }
  ul{
    li{
      margin-bottom: 20px;
      a{
        img{
          height: 25px;
          opacity:1;
          &:hover{
            opacity: 0.5;
            cursor: pointer;
          }
        }
      }
    }
  }
  .arrow-down{
    position: absolute;
    bottom: 6%;
    right: 48%;
    img{
      width: 45px;
    }
  }
}
.midle-container{
background-image: url(../img/content.jpg);
  .top-block{
    text-align: center;
    background-color: #E6E6E6;
    padding-top: 2%;
    padding-bottom: 2%;
    img{
      width: 222px;
    }
    h3{
      margin-top: 23px;
      font-size: 50px;
      color: #333;
    }
    p{
      margin-top: 10px;
      font-size: 24px;
      line-height: 30px;
      color:#333;
      font-family: 'RobotoLight';
    }
  }
  .left-first-block{
    float: left;
    position: relative;
    width: 22%;
    img{
      width: 100%;
    }
  }
  .midle-first-block{
    float: left;
    margin: 1% 1% 1% 4%;
    width: 48%;
    position: relative;
    img{
      width: 100%;
      -webkit-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
      -moz-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
      box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
    }
  }
  .right-first-block{
    -webkit-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
    box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
    float: right;
    position: relative;
    width: 23%;
    margin: 1% 1% 1% 1%;
    height: 500px;
    img{
      width: 100%;
      position: absolute;
    }
    p{
      position: relative;
      margin-top: 87%;
      margin-left: 10%;
      margin-right: 5%;
      line-height: 20px;
      overflow: hidden;
      height: 100px;
    }
    .triangle{
      img{position: relative;}
    }
  }
}

.triangle{
  position: absolute;
  bottom: 4%;
  left: 3%;
  img{
    box-shadow: none !important;
  }
  &:hover{
    opacity: 0.5;
    cursor: pointer;
  }
}

.wrapp{
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom:0;
  overflow: hidden;
}
.under-midle-block{
  .left-second-block{
    float: left;
    background-color: #0071BC;
    width: 19%;
    margin-left: 1%;
    margin-top: 0.5%;
    padding-top: 1%;
    height: 500px;
    position: relative;

    -webkit-box-shadow: 10px 10px 15px 0px rgba(51,51,51,0.5);
    -moz-box-shadow: 10px 10px 15px 0px rgba(51,51,51,0.5);
    box-shadow: 10px 10px 15px 0px rgba(51,51,51,0.5);
    .head-text{
      color: white;
      font-size: 25px;
      margin-left: 9px;
      margin-top: 5px;
    }
    .title{
      margin-top: 60px;
      font-size: 55px;
      margin-left: 10px;
      color:white;
    }
    .description-text{
      margin-left: 10px;
      margin-top: 7px;
      font-size: 26px;
      color: white;
    }
  }
  .midle-second-block{
    float: left;
    width: 56%;
    margin-left: 3%;
    margin-top: -6%;
    position: relative;
    .big-img{
      width:100%;
    }
  }
  .right-second-block{
    float: right;
    position: relative;
    width: 19%;
    background-color: #00A99D;
    height: 510px;
    margin-right: 1%;
    margin-top: -6%;
    .big-img{
      width:100%;
    }
  }
}

.over-footer-block{
  .left-third-block{
    float: left;
    width: 21%;
    position: relative;
    background-color: #39B54A;
    height: 612px;
    margin-top: 1%;
    margin-left: 1%;
  }
  .midle-third-block{
    float: left;
    position: relative;
    width: 45%;
    margin-left: 2%;
    margin-top: -0.5%;

    .big-img{
      width: 100%;
      webkit-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
      -moz-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
      box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.5);
    }
  }
  .right-third-block{
    float: right;
    width: 28%;
    position: relative;
    margin-top: -6%;
    margin-right: 1%;
    .big-img{
      width: 100%;
    }
  }
}
.fourth-block{
  .left-fourth-block{
    float: left;
    width: 19%;
    margin-left: 1%;
    background-color: #662D91;
    height: 625px;
    overflow: hidden;
    position: relative;

    -webkit-box-shadow: 10px 10px 15px 0px rgba(51,51,51,0.5);
    -moz-box-shadow: 10px 10px 15px 0px rgba(51,51,51,0.5);
    box-shadow: 10px 10px 15px 0px rgba(51,51,51,0.5);
    .title{
      margin-top: 27%;
      margin-left: 27px;
      margin-right: 27px;
      font-size: 47px;
      color: white;
      text-transform: uppercase;
    }
    .description-text{
      margin-top: 45px;
      margin-left: 27px;
      font-size: 45px;
      color: white;
      margin-right: 27px;
      line-height: 53px;
    }
  }
  .midle-fourth-block{
    width: 79%;
    position: relative;
    float: left;
    margin-left:1%;
    .big-img{
      width:100%;
    }
  }
}
.fifth-block{
  margin-top: 20px;
  margin-bottom: 20px;
  .left-fifth-block{
    position: relative;
    float: left;
    width: 16%;
    margin-left: 1%;
    .brend-block{
      padding-top: 15%;
      background: white;
      img{
        width: 100%;
        margin-bottom: 17px;
      }
    }
  }
  .midle-fifth-block{
    float: left;
    width: 60%;
    margin-left: 1%;
    position: relative;

    .big-img{
      width: 100%;
      -webkit-box-shadow: 10px 10px 15px 0px rgba(51,51,51,0.5);
      -moz-box-shadow: 10px 10px 15px 0px rgba(51,51,51,0.5);
      box-shadow: 10px 10px 15px 0px rgba(51,51,51,0.5);
    }
  }
  .right-fifth-block{
    float: right;
    width: 20%;
    background: #0071BC;
    height: 646px;
    margin-right: 1%;
    position: relative;

    -webkit-box-shadow: 10px 10px 15px 0px rgba(51,51,51,0.5);
    -moz-box-shadow: 10px 10px 15px 0px rgba(51,51,51,0.5);
    box-shadow: 10px 10px 15px 0px rgba(51,51,51,0.5);
    .head-text{
      margin-top: 7%;
      margin-left: 28px;
      margin-right: 28px;
      font-size: 24px;
      color: white;
    }
    .title{
      margin-top: 16%;
      margin-left: 28px;
      margin-right: 28px;
      font-size: 56px;
      color: white;
    }
    .description-text{
      margin-top: 1.5%;
      margin-left: 28px;
      margin-right: 28px;
      font-size: 26px;
      color: white;
    }
  }
}
.developers-wrapp{
  padding: 1% 4% 4% 4%;
  .dev{
    float: left;
    width: 24%;
    margin-right: 1.333%;
    text-align: center;
    color: white;
    height: 630px;
    padding-top: 2%;
    overflow: hidden;
    position: relative;
    .dev-ico-wrapp{
      height: 53%;
      .dev-ico{
        width: 80%;
        margin-top: 20px;
      }
    }
    .name{
      font-size: 55px;
      padding: 10px 15px;
      text-align: left;
    }
    .description-text{
      font-size: 26px;
      padding: 0px 15px;
      text-align: left;
    }
  }
  .developers1{background-color: #00A99D}
  .developers2{background-color: #006B8C}
  .developers3{background-color: #2E3192}
  .developers4{background-color: #29ABE2;
    margin: 0;
  }
}
.footer{
  background: #333333 url("../img/footer.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding-bottom: 4%;
  .left-elems{
    float: left;
    margin-top: 4%;
    margin-left: 7.5%;
    width: 22%;
  }
  .logo-img{
    width: 230px;
  }
  .logo-text{
    font-size: 46px;
    margin: 0;
    font-family: 'BebasNeue';
    color: white;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    margin-left: -6%;
    margin-top: 3%;
    span{
      color: #ED1C24;
    }
  }
  .footer-text{
    padding-top: 7%;
    color: white;
    line-height: 47px;
    font-size: 25px;
    p:nth-child(1){
      font-size: 30px;
    }
  }
  .social-wrapp{
    position: absolute;
    bottom: 9%;
    right: 0;
    ul{
      padding-left: 0;
      margin-right: 25px;
      li{
        display: inline-block;
        a{
          img{
            height: 35px;
            margin-right: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 1366px) {
  .header{
    padding-top: 57%;
    .slider-text{
      h2{
        font-size: 35px;
      }
      .big-text{
        font-size: 35px;
        line-height: 35px;
        opacity: 0.7;
      }
      .litle-text{
        margin-left: 0;
        opacity: 0.7;
      }
    }
    .social-wrapp{
      ul li{
        margin-bottom: 10px;
      }
    }
    .vertical-pagination{
      a{
        width: 25px;
        height: 25px;
      }
    }
  }
  .midle-container .right-first-block{
    height: 360px;
  }
  .under-midle-block .left-second-block{
    height: 325px;
    .title{
      font-size: 35px;
    }
    .description-text{
      font-size: 26px;
      line-height: 20px;
    }
  }
  .under-midle-block .midle-second-block{
    margin-left: 2%;
    width: 57%;
  }
  .under-midle-block .right-second-block{
    height: 370px;
  }
  .over-footer-block .left-third-block{
    height: 480px;
  }
  .over-footer-block .right-third-block{
    margin-top: -3%;
    margin-bottom: -4px;
  }
  .fourth-block{

    .left-fourth-block{
      height: 450px;
      .title{
        font-size: 35px;
      }
      .description-text{
        font-size: 26px;
        margin-top: 15px;
        line-height: 20px;
      }
    }
  }
  .fifth-block{
    .left-fifth-block .brend-block img{
      margin-bottom: 12px;
    }
    .right-fifth-block{
      height: 465px;
      .title{
        font-size: 35px;
      }
      .description-text{
        font-size: 26px;
        margin-top: 15px;
        line-height: 20px;
      }
    }
  }

  .developers-wrapp .dev{
    height: 500px;
    .name{
      font-size: 25px;
    }
    .dev-ico-wrapp{
      height: 278px;
    }
    .description-text{
      font-size: 20px;
    }
  }
  .footer{
    .logo-img{
      width: 160px;
    }
    .footer-text {
      p{
        font-size: 18px;
        line-height: 23px;
      }
      p:nth-child(1){
        font-size: 20px;
      }
    }
    .logo-text{
      font-size: 30px;
    }
    .social-wrapp{
      bottom: 15px;
      ul{
        li{
          a{
            img{
              height: 25px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 1280px) {
  .midle-container .right-first-block{
    height: 350px;
    p{
      margin-top: 6%;
    }
    .triangle{
      bottom: 11%;
    }
  }

  .under-midle-block .midle-second-block{
    margin-top: -4.4%;
    width: 57%;
  }
  .fourth-block .left-fourth-block{
    height: 425px;
  }
  .over-footer-block .left-third-block{
    height: 440px;
  }
  .fifth-block{
    margin-top: 15px;
    margin-bottom: 10px;
    .left-fifth-block .brend-block img{
      margin-bottom: 11px;
    }
    .right-fifth-block{
      height: 435px;
    }
  }

}

@media (max-width: 1100px) {
  .midle-container .right-first-block{
    height: 300px;
  }
}

@media (max-width: 1000px) {
  .midle-container .left-first-block,
  .fifth-block .left-fifth-block,
  .over-footer-block .right-third-block{
    display: none;
  }
  .midle-container .midle-first-block,
  .midle-container .right-first-block,
  .under-midle-block .left-second-block,
  .under-midle-block .midle-second-block,
  .under-midle-block .right-second-block,
  .over-footer-block .left-third-block,
  .over-footer-block .midle-third-block,
  .fourth-block .left-fourth-block,
  .fourth-block .midle-fourth-block,
  .fifth-block .midle-fifth-block,
  .fifth-block .right-fifth-block
  {
    float: none;
    width:100%;
    margin: 20px 0;
  }
  .developers-wrapp .dev{
    width: 48%;
    margin-bottom: 20px;
    .dev-ico-wrapp .dev-ico{
      width: 54%;
    }
  }
  .fourth-block .left-fourth-block .title{
    margin-top: 15px;
  }
}
